[buildout]
extends = http://download.zope.org/zopetoolkit/index/1.1c1/ztk-versions.cfg
develop = .
parts =
  test
  coverage-test
  coverage-report

[test]
recipe = zc.recipe.testrunner
eggs = zope.errorview [browser, test]
defaults = ['--auto-color']

[coverage-test]
<= test
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
